<router-outlet></router-outlet>
<div style="padding: 10px;">
  <div style="border:1px solid grey;width:200px">
    <ng-select [items]="cars" 
               bindLabel="name" 
               bindValue="id" 
               [multiple]="true"
               (change)="onSelectChange($event)"
               [(ngModel)]="selectedCars">
               <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" name="item-{{index}}" [ngModel]="item$.selected"/> {{item.name}}
            </ng-template>
    </ng-select>
  </div>
  <div>
  
    <input type="text" 
      ngxDaterangepickerMd 
      [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY HH:mm'}"
      [singleDatePicker]="true"
      [timePicker]="true"
      [(ngModel)]="selected" 
      (change)="onDatePickerChange($event)"
      class="form-control"/>
  
  </div>  
  <div>
    <input type="text" name="" id=""[(ngModel)]="ip" placeholder="enter IP">
    <button (click)="validateIp()">Check IP</button>
  </div>
  <div>
    <input type="text" name="" id=""[(ngModel)]="ipmask" placeholder="enter IP mask">
    <button (click)="validateIpMask()">Check IP mask</button>
  </div>
</div>

<div>
  <input
  type="text"
  style="padding:8px;margin:15px auto;width:30%;"
  placeholder="Type to filter the name column..."
  (keyup)="updateFilter($event)"
/>

  <ngx-datatable
  #tableRef
  class="material server-scrolling-demo"
  [rows]="rows"
  [columnMode]="ColumnMode.force"
  [columns]="columns"
  [headerHeight]="headerHeight"
  [footerHeight]="footerHeight"
  [rowHeight]="rowHeight"
  [selected]="selected1"
  [selectionType]="SelectionType.checkbox"
  (select)="onSelect($event)"
  [loadingIndicator]="isLoading"
  [scrollbarV]="true"
  (scroll)="onScroll($event)"
  >
  <!-- (scroll)="onScroll($event.offsetY)" -->
  rowHeight="auto"
  <!-- [limit]="3" -->
  <!-- (activate)="onActivate($event)" -->
<ngx-datatable-column
#columnRef
[width]="30"
[sortable]="false"
[canAutoResize]="false"
[draggable]="false"
[resizeable]="false"
[headerCheckboxable]="false"
[checkboxable]="true"
>
</ngx-datatable-column>
<ngx-datatable-column name="Id"></ngx-datatable-column>
<ngx-datatable-column name="Name"></ngx-datatable-column>
<ngx-datatable-column name="Gender"></ngx-datatable-column>
<ngx-datatable-column name="Company"></ngx-datatable-column>
</ngx-datatable>
</div>

<div>
  {{selectedRow?.name}}
</div>