<div style="border:1px solid grey;width:200px">
  <ng-select [items]="cars" 
             bindLabel="name" 
             bindValue="id" 
             [multiple]="true"
             (change)="onSelectChange($event)"
             [(ngModel)]="selectedCars">
             <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" name="item-{{index}}" [ngModel]="item$.selected"/> {{item.name}}
          </ng-template>
  </ng-select>
</div>
<div>

  <input type="text" 
    ngxDaterangepickerMd 
    [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY HH:mm'}"
    [singleDatePicker]="true"
    [timePicker]="true"
    [(ngModel)]="selected" 
    (change)="onDatePickerChange($event)"
    class="form-control"/>

</div>  
<div>
  <input type="text" name="" id=""[(ngModel)]="ip" placeholder="enter IP">
  <button (click)="validateIp()">Check IP</button>
</div>
<div>
  <input type="text" name="" id=""[(ngModel)]="ipmask" placeholder="enter IP mask">
  <button (click)="validateIpMask()">Check IP mask</button>
</div>